@charset "UTF-8";

body {
  background-image: linear-gradient(45deg, #081F5C, #000001);
}

.titulo {
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, serif;
  font-size: 30px;
  margin: auto;
}

.texto {
  color: white;
  font-family: Times New Roman, Sans-Serif;
  text-align: center;
  margin: auto;
  padding-bottom: 15px;
}

img {
  margin: auto;
  width: 100%;
  background-image: url("../imagens/bn2.png");
}

.sub {
  color: white;
  text-align: left;
  font-size: 10px;
  font-family: Arial, Helvetica, serif;
  margin: auto;
  padding: 10px 10px 10px 10px;
}

.words {
  color: white;
  font-family: Times New Roman, Sans-Serif;
  text-align: justify;
  margin: auto;
  padding-bottom: 15px;
  text-indent: 30px;
}

.subtitle {
  color: white;
  text-align: left;
  font-size: 10px;
  font-family: Arial, Helvetica, serif;
  margin: auto;
  padding: 10px 10px 10px 10px;
}

.vid {
  margin: auto;
  width: 50%;
  background-image: url("../imagens/otobn.png");
}

.rodape {
  color: white;
  background-color: black;
  text-align: center;
}